.contact{
    background-image: url('../image/contact-bg.png');
    background-size: cover;
    width: 100%;
    height: 51.72vw;
}
.contact .tittle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.17vw 0 3.38vw 0;
}
.contact .tittle p{
    width: 30.3125vw;
    color: white;
    text-align: center;
}
.contact h4{
    color: white;
}
.contact .info{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.contact .info-input .info-line{
    width: 100%;
    position: relative;
}
.contact .info-input h6{
    color: white;
    position: absolute;
    top: -1.3vw;
}
.contact .info-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 57%;
}
.contact .info-input input{
    width: 100%;
    height: 2.8645vw;
    padding-left: 1vw;
    margin-bottom: 2.3vw;
    border: none;
}
.contact .info-input textarea{
    width: 100%;
    padding-left: 1vw;
    padding-top: 1vw;
}
.contact textarea::placeholder{
    font-size: 0.96vw;
    line-height: 1;
}
.contact .info-image img{
    width: auto;
    height: 0;
    /* transform: translateY(1.8vw); */
}
.contact-map{
    width: 100%;
}
.contact-map iframe{
    width: 100%;
    height: 51.67vw;
}
.info-submit input{
    width: 5.2vw;
    height: 2.86vw;
    background-color: #FECE59;
    border: none;
    margin-top: 2.4vw;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
    .contact{
        height: 110vw;
    }
    .contact .tittle {
        padding: 8.17vw 0 7.38vw 0;
    }
    .contact .tittle p {
        width: 63.3125vw;
    }
    .contact .info-image{
        display: none;
    }
    .contact .info-input{
        width: 63.3125vw;
    }
    .contact .info-input h6 {
        color: white;
        top: -5.3vw;
        font-size: 3vw;
    }
    .contact .info-input input {
        width: 100%;
        height: 6vw;
        padding-left: 1vw;
        margin-bottom: 7.3vw;
        border: none;
    }
    .contact .info{
        justify-content: center;
    }
    .contact textarea::placeholder, .contact .info-input input::placeholder{
        font-size: 2vw;
    }
    .info-submit input {
        width: 9.2vw;
        height: 5.86vw;
    }
    .info-submit{
        margin-left: 6.2vw;
    }

}

/* ===========================================440PX======================================================= */

@media (max-width: 440px) {
    .contact .tittle {
        padding: 8.17vw 0 9.38vw 0;
    }

    .contact .tittle p, .contact .info-input{
        width: 100%;
    }
    .contact{
        background-image: url(../image/contact-bg-mobile.png);
        height: 198vw;
    }
    .contact .info-input input {
        height: 11vw;
        padding-left: 3vw;
        margin-bottom: 11.3vw;
    }
    .contact .info-input h6 {
        font-size: 4.5vw;
        top: -6.3vw;

    }
    .contact textarea::placeholder, .contact .info-input input::placeholder{
        font-size: 4vw;
    }
    .contact .info-input textarea{
        padding-left: 3vw;
        padding-top: 3vw;
    }
    .contact-map iframe{
        height: 162.67vw;
    }
    .info-submit input {
        width: 16.2vw;
        height: 9.86vw;
    }
    .info-submit{
        margin-left: 0vw;
    }

}