html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0em;
}
h6{
    font-size: 1.2vw;
    font-family: 'Bai Jamjuree Black', sans-serif;
    font-weight: bold;
}
h5{
    margin-top: 0.52vw;
    font-size: 1.4vw;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #1C1C1C;
}
h4{
    font-size: 1.3vw;
    font-family: 'Bai Jamjuree Black', sans-serif;
    margin-bottom: 0.26vw;
    color: #18191E;
}
h3{
    font-size: 2.08vw;
    font-weight: bold;
    /* padding: 0.78vw 0; */
    color: #1C1C1C;
    font-family: 'Bai Jamjuree Black', sans-serif;
}
h2{
    font-size: 2.604vw;
    font-weight: bold;
    font-family: 'Bai Jamjuree Black', sans-serif;
}
h1{
    font-size:  1.875vw;
    font-family: 'Bai Jamjuree Black', sans-serif;
}
p{
    font-size: 1vw;
    font-family: 'Bai Jamjuree Regular', sans-serif;
    color: #18191E;
}
span{
    font-family: 'Bai Jamjuree Regular', sans-serif;

}
textarea:focus{
    outline: none;
}
a{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #18191E;
    font-size: 1rem;
}

.navbar{
    width: 100%;
    /* height: 4.6875vw; */
    background-color:#18191E;
    padding: 0;
    margin: 0px;

}
.img-mobile{
    display: none;
}
.container-fluid{
    padding: 0em;

}
.container{
    width: 100%;
    padding: 0 18.9vw;
    max-width: unset;
    
}
.hh-nav{
    display: flex;
    background-color: #18191E;
    width: 100%;
    height: 4.6875vw;
}
.hh-logo {
    width: 5.3125vw;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 12.5vw;
}
.hh-logo img{
    width: 5.3125vw;
    height: auto;
    margin: auto 0;
}
.nav{
    padding-right: 3vw;
}
.close{
    display: none;
}
.nav-link{
    color: white;
    padding: 0 1.146vw;
    font-size: 0.9375vw;
    font-weight: 100;
    text-transform: uppercase;
    transition: .4s;
}
.nav-item-active .nav-sticky{
    width: 3.75vw;
}
.nav-item-active a{
    font-weight: bold;
    color: white;
}
.nav-item:hover .nav-sticky{
    width: 3.75vw;
}
.nav-item:hover .nav-link{
    font-weight: bold;
    color: white;
}
.nav-sticky{
    width: 0vw;
    height: 0.208vw;
    background-color: #FECE59;
    margin-left: 1.146vw;
    transition: .3s;
}
.nav-item{
    position: relative;
    transition: .7s;
}
.d-play-md{
    display: block !important;
}
.d-play-none{
    display: none !important;
}
.search{
    display: flex;
    padding: 1.7vw 0;
    justify-content: flex-end;
}
.search img{
    width: 1.145vw;
    height: 1.145vw;
    position: absolute;
    right: 18.9vw;
    cursor: pointer;
    top: 1.8vw;
}
.fa-search{
    color: black;
    width: 3vw;
    height: 2vw;
    line-height: 2vw !important;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}
.search-box{
    position: absolute;
    top: 4.8vw;
    right: 18.9vw;
    width: 18vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: #00000033 0 .5vw 4vw;
    padding: 0 1vw;
    border: none;
    z-index: 1;
}
button:focus, input:focus, button:active{
    outline: none !important;
    /* border: none !important; */
}
.navbar-toggler:focus{
    outline: none;
    border: none;
}
.navbar-toggler {
    display: none;
}

.button-sticky{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e5bb4b;
    color: white;
    text-align: center;
    border-radius: 50%;
    animation-iteration-count: infinite !important;
    cursor: pointer;
    z-index: 100;
}
.fa-angle-double-up{
    transform: scale(1.5) translateY(28%);
}
.hh-modal{
    display: none;
}


/* ================================================ START HEADER =========================================================== */

.hh-header{
    background-image: url(../image/home-house-header.png);
    background-size: cover;
    width: 100%;
    height: 46.1vw;
    text-align: left;
}
.hh-header h2{
    color: #000000;
}
.hh-header h5{
    color: #000000;
}
.hh-tittle{
    width: 33.3333333%;
    padding-top: 3.65vw;
}

/* ================================================ END HEADER ============================================================= */

/* ================================================ START INFO ============================================================= */

 
.hh-introduce{
    padding: 2.08vw 0 2.6vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hh-introduce .tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hh-introduce h4{
    margin: 0;
}
.sticky{
    width: 3.75vw;
    height: .2083vw;
    background-color: #FECE59;
    margin-bottom: 1.56vw;
}
.hh-introduce .info{
    margin-top: 0.833vw;
    width: 32.2vw;
}
.hh-introduce img{
    width: 0.885vw;
    height: auto;
}


                /* ================================================================ */

.hh-introduce-2{
    background-color: #2E2E2E;
    padding: 6.5vw 0;

}
.hh-introduce-2 h4, .hh-introduce-2 p{
    color: white;
}
.hh-introduce-2 .sticky{
    margin-bottom: 3.23vw;
}
.hh-introduce-2 .info{
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    padding-left: 5.3vw;
    position: relative;
}
.hh-introduce-2 .info img{
    width: 58.75vw;
    height: auto;
    position: absolute;
    top: 0vw;
    left: 2vw;
    /* z-index: 2; */
}

                /* ================================================================ */
.hh-process{
    background-color: #555555;
    padding: 4.53vw 0;
}
.hh-process .container{
    display: flex;
}
.hh-process h4, .hh-process p{
    color: white;
}
.hh-process .process-img{
    width: 150%;
}
.hh-process .process-img img{
    width: 100%;
    height: auto;
}
.hh-process .info h4{
    margin-top: 1.93vw;
}
.hh-process .sticky{
    margin-bottom: 2.34vw;
}

                /* ================================================================ */

.hh-recruitment{
    padding: 2.0833vw 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hh-recruitment p{
    width: 30.36vw;

}
.hh-recruitment .tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.34vw;
}
.hh-recruitment a{
    font-size: 0.6254vw;
    font-style: italic;
    font-weight: 600;
}
.hh-recruitment a:hover{
    color: #FECE59;
}

                /* ================================================================ */

.hh-partner{
    background-color: #E0E0E0;
    width: 100%;
    height: 17.34vw;
    position: relative;
    padding-top: 6.67vw;
}
.partner-slick{
    padding: 0 2.8vw;
}
.arrow-left, .arrow-right{
    width: 0.9375vw;
    height: auto;
    position: absolute;
    top: 26%;
    cursor: pointer;
}
.arrow-left{
    right: 0vw;
}
.arrow-right{
    left: 0vw;
}
.slick-slide{
    /* margin: 0 3.8vw !important; */
    /* width: 4.5vw !important; */
    display: flex;
    align-items: center;
}
.slick-slide:focus{
    outline: none !important;
}
.slick-slide img{
    /* width: 4.5vw; */
    height: auto;
    transform: translateX(100%);
    /* margin:  0 50% 0 0 !important; */
}


/* ================================================ END INFO ============================================================= */

/* ================================================ START FOOTER ========================================================= */

.footer{
    background-color: #18191E;
    padding: 3.65vw 0 0 0;
}
.footer-logo{
    width: 9vw;
    height: auto;
    margin-bottom: 2.08vw;
}
.footer p {
    color: white;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-left{
    width: 33.3333%;
}
.footer-left-line{
    display: flex;
}
.footer-left-line img{
    transform: translateY(0.5vw);
    margin-right: 0.73vw;
}
.footer-contact{
    display: flex;
    justify-content: flex-end;
}
.footer-right input{
    width: 11.5625vw;
    height: 2.45vw;
}
.footer-right button{
    width: 2.8125vw;
    height: 2.45vw;
    background-color: #FECE59;
    border: none;
    line-height: 2.45vw;
}
.footer-contact button p{
    color: #000000;
    font-weight: bold;

}
.footer-contact input{
    font-size: 0.73vw;
    /* padding-bottom: 1vw; */
    padding-left: 1vw;
    border: none;
}
input::placeholder{
    font-size: 0.73vw;
    line-height: 2.45vw;
    margin-bottom: 2vw;
}
.social-icon img{
    width: 1.121vw;
    height: auto;
    margin-top: 1vw;
}
.icon-1{
    width: 0.573vw;
    height: 0.573vw;
}
.icon-2{
    height:  0.677vw;
    width: 0.573vw;
}
.icon-3{
    width: 0.625vw;
    height: 0.625vw;
}
.icon-4{
    width: 0.686vw;
    height: 0.481vw;
}
.icon-5{
    width: 0.677vw;
    height: 0.677vw;
}
.footer-end{
    width: 100%;
    height: 5.67vw;
    border-top: solid 0.05vw #707070;
    margin-top: 5.625vw;
    display: flex;
    align-items: center;
}
.footer-end .container{
    text-align: left;
}
.footer-end p{
    margin: 0;
}
/* ================================================ END FOOTER =========================================================== */



/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
    #toDashboard {
        display: none;
    }
    h5{
        font-size: 3.67vw;
    }
    h4{
        font-size: 4.8vw;
    }
    h3{
        font-size: 4.08vw;
    }
    h2{
        font-size: 5.6vw;
    }
    h1
    {
        font-size: 4.8vw;
    }
    p{
        font-size: 2.3vw;
    }
    .container{
        padding: 0 12vw;
    }
    input::placeholder{
        line-height: 1;
    }
    .hh-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .hh-logo img{
        width: 14vw;
    }
    .navbar{
        height: 14.678vw;
    }
    .navbar-toggler{
        display: block !important;
        position: absolute;
        top: 5vw;
        left: 7vw;
    }
    .nav-link{
        text-transform: none !important;
    }
    .d-play{
        display: block;
    }
    .collapse:not(.show){
        display: none;
    }
    .navbar-collapse{
        background: #18191E;
        position: fixed;
        top: 0;
        left: -55vw;
        width: 55vw;
        height: 100%;
        z-index: 100;
        /* opacity: 0; */
        z-index: 200;
        transition: .4s;
        padding: 14vw 0 0 8vw;
    }
    .navbar-collapse ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4vw;
    }
    .nav-item-active .nav-sticky{
        display: none;
    }
    .nav-item-active, .nav-item{
        margin: 2vw 0;
    }
    .nav-item-active .nav-link{
        color: #FECE59;
    }
    .nav-item-active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item .nav-sticky{
        opacity: 0;
    }
    .display-none-md{
        display: none;
    }
    .nav-link{
        font-size: 3vw;
        text-transform: uppercase;
    }
    .nav-click{
        /* height: 60vw; */
        opacity: 1;
        left: 0 !important;
        /* z-index: 1; */
    }
    .search img {
        width: 4.145vw;
        height: auto;
        right: 10.9vw;
        top: 5.8vw;
        z-index: 2;
    }
    .search-box {
        top: 16.8vw;
        right: 6vw;
        width: 32vw;
        height: 6vw;
    }
    .hh-modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000a4;
        display: none;
        overflow: hidden;
        z-index: 2;
    }
    .close{
        display: block !important;
        position: absolute;
        top: 5vw;
        right: 13vw;
        color: white;
        transform: scale(1.8);
        z-index: 5;
    }
    .hh-logo-mobile{
        display: block !important;
    }
    .hh-logo-mobile img{
        padding-bottom: 2vw;
        border-bottom: solid 0.8vw #FECE59;

    }

                      /* ============================ HEADER ========================================= */
    
    .hh-header .hh-tittle{
        width: 100% !important;
    }
    .hh-header h2{
        font-size: 7vw;
    }
                      /* ============================ INFO ========================================= */

    .hh-introduce, .hh-introduce-2, .hh-process, .hh-partner, .hh-recruitment{
        padding: 9vw 0
    }
    .sticky {
        width: 8.75vw;
        height: .8vw;
        background-color: #FECE59;
    }
    .hh-introduce .info {
        margin-top: 0.833vw;
        width: 80%;
    }
    .hh-introduce img {
        width: 2.885vw;
    }

    .hh-introduce-2 .img-mobile{
        position: relative !important;
        width: 67.75vw !important;
    }
    .img-mobile{
        display: block !important;
    }
    .hh-introduce-2 img, .hh-process img{
        display: none;
    }
    .hh-introduce-2 .info {
        width: 100%;
        align-items: center;
        padding-left: 0 !important;
        text-align: center;
        margin: 0;
    }

    .hh-process .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hh-process .process-img {
        width: 80%;
    }
    .hh-process .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hh-recruitment p {
        width: 90%;
    }
    .hh-recruitment a {
        font-size: 3.6254vw;
    }

    .slick-slide img{
        width: 9.5vw !important;
        transform: translateX(53%);
    }
    .hh-partner{
        height: auto;
    }
    .arrow-left, .arrow-right{
        width: 1.5375vw;
        top: 26%;
    }
    /* .footer-contact, .footer-right, .footer-center{
        display: none !important;
    } */

                      /* ============================ FOOTER ========================================= */
    .footer{
        padding: 10vw 0 0 0;
    }
    .footer-logo {
        width: 16vw;
    }
    .footer-info{
        padding: 5vw 0;
    }
    .footer-right{
        display: none;
    }
    .footer-mobile{
        display: block !important;
    }
    .footer-left, .footer-center{
        width: 48%;
    }
    .footer-left{
        margin-right: 6vw;
    }
    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5{
        transform: scale(4) translateY(0.45vw) !important;
        margin-right: 2.5vw !important;
    }
    .footer-left-line{
        margin-top: 2vw;
    }
    .footer-contact {
        justify-content: flex-start;
        margin-top: 5vw;
    }
    .footer-mobile{
        margin-left: -1.1vw;
    }
    .footer-right input {
        width: 26.5625vw !important;
        height: 4.45vw !important;
    }
    .footer-right button {
        width: 6.8125vw;
        height: 4.45vw;
        line-height: 4.45vw;
    }
    .social-icon img {
        width: 3.7vw;
    }
    .footer-end{
        margin-top: 10vw;
        height: 14vw;
    }
    .footer-right input::placeholder {
        font-size: 12px;
        z-index: 2;
    }

}

/* ===========================================================420PX==================================================================== */

@media (max-width: 420px){
    .container{
        padding: 0 9vw;
    }
    h5{
        font-size: 14px;
    }
    h4{
        font-size: 20px;
    }
    h3{
        font-size: 25px;
    }
    h2{
        font-size: 27px;
    }
    p{
        font-size: 14px;
    }
    .navbar-toggler img{
        width: 22px;
        height: 12px;
    }
    .search img {
        top: 7.8vw;
    }
    .search-box {
        top: 16.8vw;
        right: 8vw;
        width: 60vw;
        height: 14vw;
    }
    .search-box i{
        transform: translateX(1vw);
    }
    .navbar-collapse{
        width: 180px;
        left: -260px;
    }
    .nav-link {
        font-size: 15px;
    }
    .hh-logo-mobile img{
        width: 68px !important;
    }
    
    .hh-header {
        background-image: url(../image/home-house-header-mobile.png);
        background-size: cover;
        width: 100%;
        height: 385px;
        text-align: left;
    }
    .sticky{
        width: 38px;
        height: 4px;
    }    
    .hh-introduce-2 .img-mobile{
        width: 286px !important;
    } 
    .hh-partner{
        height: auto;
        padding-top: 19.67vw !important;
    }
    .slick-slide{
        width: 40vw !important;
        transform: translateX(-56px);
    }
    .slick-slide img{
        width: 16vw !important;
        transform: translateX(130%);
    }
    .arrow-left, .arrow-right{
        width: 3.5375vw;
    }
    .footer-logo{
        width: 100px;
    }
    .footer-right{
        display: block !important;
    }
    .footer-mobile{
        display: none !important;
    }
    .footer-info{
        flex-direction: column;
    }
    .footer-left, .footer-center{
        width: 100%;
    }
    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5{
        transform: scale(6) translateY(0.5vw) translateX(-0.6vw) !important;
    }
    .footer-left-line{
        padding-left: 5vw;
        /* transform: translateX(-56px); */
    }
    .footer-right input {
        width: 80% !important;
        height: 12.5vw !important;
        font-size: 14px;
    }
    .footer-right button {
        width: 20%;
        height: 12.5vw;
        line-height: 12.4vw;
    }
    .social-icon img {
        width: 24px;
        margin-top: 20px;
    }
    .footer-right input::placeholder {
        font-size: 12px;
        z-index: 2;
    }
}