h4{
    text-transform: uppercase;
}
.introduce-info-1{
    background-color: #F8F8F8;
    padding: 5.26vw 0 8.33vw 0;
    
}
.introduce-info-1 .container{
    display: flex;
    align-items: flex-end;
}
.introduce-info-1 .info-1-img{
    position: relative;
    width: 58.3333%;
}
.introduce-info-1 .info-1-tittle{
    width: 41.6666%;  
}
.introduce-info-1 .info-1-img img{
    width: 50vw;
    height: auto;
    position: absolute;
    bottom: 0vw;
    right: 3.4375vw;
}
.sticky{
    margin-bottom: 2.08vw;
}
.introduce-info-1 p, .introduce-info-2 p{
    margin-bottom: 0;
}
.introduce-info-1 .bold, .introduce-info-2 .bold{
    /* font-weight: bold; */
    margin-top: 0.52vw;
    font-family: 'Bai Jamjuree SemiBold', sans-serif;

}

                        /* ======================================================== */

.introduce-info-2{
    /* background-color: #505050; */
    background-image: url(../image/introduce-bg.png);
    background-size: cover;
    padding: 11.34vw 0 6.46vw 0;
}
.introduce-info-2 .container{
    display: flex;
    align-items: flex-start;
}
.introduce-info-2 .info-2-tittle{
    width: 42.6666%;  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.introduce-info-2 .info-2-tittle .tittle-mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.introduce-info-2 .info-2-img{
    position: relative;
}
.introduce-info-2 .info-2-img img{
    position: absolute;
    left: 3vw;
    top: 1vw;
    width: 44.9vw;
    height: auto;
}
.introduce-info-2 p, .introduce-info-2 .bold, .introduce-info-2 h4, .introduce-info-2 h2,.introduce-info-2 h5{
    color: white;
    text-align: right;
}

                        /* ======================================================== */
.introduce-info-3{
    background-image: url(../image/introduce-bg-2.png);
    background-size: cover;
    width: 100%;
    height: 51.61vw;
}
.info-3-tittle{
    width: 25vw;
    margin:0 0 0 45.47vw;
    padding-top: 3.18vw;
}
.info-3-tittle, .info-3-tittle p, .info-3-tittle h4{
    color: white;
}

                        /* ======================================================== */

.introduce-img{
    width: 100%;
    overflow: hidden;
}
.introduce-img-line1, .introduce-img-line2{
    display: flex;
}
.introduce-img-line1 div:nth-child(1){
    width: 43.9%;
    height: auto;
}
.introduce-img-line1 div:nth-child(2){
    width: 56.1%;
    height: auto;
}
.introduce-img-line2 div:nth-child(2){
    width: 43.9%;
    height: auto;
}
.introduce-img-line2 div:nth-child(1){
    width: 56.1%;
    height: auto;
}
.introduce-img img{
    width: 100%;
    height: auto;
}
.div-hover{
    width: 0% !important;
    height: 100% !important;
    background-color: #18191E;
    position: absolute;
    top: 0;
    opacity: 0.7;
    transition: .6s;
}
.div-hover h2, .div-hover h4{
    color: white;
    text-align: right;
    opacity: 0;
    transition: .6s;
}
.right h2, .right h4{
    text-align: left;
}
.img-hover{
    position: relative;
}
.img-hover:hover .div-hover{
    width: 100% !important;
    transform: translateX(0) !important;
}
.img-hover:hover .div-hover h2{
    opacity: 1;
}
.img-hover:hover .div-hover h4{
    opacity: 1;
}
.introduce-img .right{
    float: right;
}
.right .div-hover{
    transform: translateX(50vw) ;
    right: 0vw;
    padding: 23.64vw 0 0 3.75vw ;
    
}
.left .div-hover{
    left: 0vw;
    transform: translateX(-20vw);
    padding: 23.64vw 3.75vw 0 0;

}

/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
    h4{
        text-transform: none !important;
    }
.introduce-info-1 .container{
    flex-direction: column;
    align-items: center !important;
}
.introduce-info-1 img{
    display: none;
}
.info-1-img{
    width: 90% !important;
}
.info-1-img img{
    position: relative !important;
    width: 100% !important;
    right: 0 !important;
}
.introduce-info-1 .info-1-tittle {
    width: 90%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.introduce-info-1 .tittle-mobile {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.introduce-info-1 .bold, .introduce-info-2 .bold {
    margin-top: 2.52vw;
}

                /* ============================================================== */

.introduce-info-2{
    background-image: url('../image/introduce-bg-mobile.png');
}
.introduce-info-2 .container{
    flex-direction: column;
    align-items: center !important;
}
.info-2-img{
    width: 90% !important;
    order: 1;
}
.info-2-img img{
    position: relative !important;
    width: 100% !important;
    right: 0 !important;
}
.introduce-info-2 .info-2-tittle {
    width: 90%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    order: 2;
    margin-top: 8.56vw;
}
.introduce-info-2 .tittle-mobile {
    text-align: center;
    display: flex;
    align-items: center !important;
    flex-direction: column;
    width: 100%;
}
.introduce-info-2 .tittle-mobile h4{
    text-align: center;
}
.introduce-info-2 .info-2-tittle {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.introduce-info-2 p{
    text-align: left;
}
                /* ============================================================== */
.introduce-info-3 .tittle-mobile {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.introduce-info-3 .info-3-tittle{
    margin: 0;
    text-align: center;
}
.introduce-info-3 {
    display: flex;
    justify-content: center;
}
.info-3-tittle {
    width: 51vw;
    padding-top: 3.18vw;
}
.introduce-info-3 {
    height: 85vw;
}

                /* ============================================================== */


.div-hover {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent;
    /* position: relative !important; */
    opacity: 1;
    transform: none !important;
    padding: 80% 3.75vw 1vw 7vw !important;
}
.div-hover h2, .div-hover h4 {
    opacity: 1 !important;
    text-align: left !important;
}
.div-hover h2{
    font-size: 4vw !important;
}
.div-hover h4{
    font-size: 3.5vw !important;
}
.introduce-img-line1, .introduce-img-line2{
    flex-direction: column;
}
.img-hover{
    width: 100% !important;
}
.img-hover img{
    display: none;
    width: 100%;
}
}

/* ===========================================440PX======================================================= */

@media (max-width: 440px) {

    .introduce-info-1 {
        padding: 24.26vw 0 8.33vw 0;
    }
    .info-1-img, .info-1-tittle, .introduce-info-1 .tittle-mobile {
        width: 100% !important;
    }
    .introduce-info-2 .tittle-mobile h4{
        text-align: center;
    }
    .div-hover {

        padding: 85% 3.75vw 5.3vw 7vw !important;
    }
    .introduce-info-2 {
        padding: 25.34vw 0 6.46vw 0;
    }
    .introduce-info-3 {
        background-image: url(../image/introduce-bg-2-mobile.png);
        background-size: cover;
        height: 113.33vw;
        padding-top: 5vw;
    }
    .introduce-info-3 .info-3-tittle{
        width: 80%;
    }
}

