
.news-line1 .sticky{
    width: 9.065vw;
    height: 0.47vw;
}
.news-line1{
    width: 100%;
    padding: 3.25vw 0 2.6vw 0;
}
.news-line1 p{
    width: 48%;
}
.news-line2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.news-line2 .image{
    width: 48%;
    display: flex;
    justify-content: center
}
.news-line2 .image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.news-line2 .info{
    width: 48%;
}
.news-line3{
    padding: 6vw 0 1.8vw 0;
}
.news-line2.line3{
    margin-bottom: 5.26vw;
}
.news-line2.line3 .news-link{
    text-align: right;

}


/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
.news-line1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 9.6vw 0 5vw 0 ;
    align-items: flex-start;
}
.news-line1 p{
    width: 100%;
} 
.news-line2{
    flex-direction: column;
    align-items: center;
}
.news-line2 .image, .news-line2 .info{
    width: 100%;
}
.news-line2 .image img{
    width: 100%;
    margin-bottom: 7vw;
}
.news-link h6{
    font-size: 2.5vw;
}
.news-link a{
    font-size: 1.325vw;
    text-align: right;
}
}
/* ===========================================440PX======================================================= */

@media (max-width: 440px) {

    .news-link h6{
        font-size: 3.5vw;
    }
    .news-link a{
        font-size: 3vw;
    }
    .news-line1 .sticky {
        width: 25.065vw;
        height: 1.27vw;
    }

}