
.image img {
    height: 150px !important;
    object-fit: cover;
}.news-header{
    width: 100%;
    height: 34.9vw;
    position: relative;
    background-image: url('../image/news-header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}
.news-search{
    margin-top: 2.6vw;
}
.content{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.news-search input{
    width: 30.3125vw;
    height: 3.125vw;
    border: none;
    box-shadow: #00000057 0 0.05vw 0.4vw;
    padding-left: 1.4vw;
}
.news-search button{
    border: none;
    background: transparent;

}
.news-search button img{
    width: 1.041vw;
    height: auto;
    transform: translateX(-3vw);
}

                    /* ============================================== */

.news-info .tittle{
    padding: 3.125vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-info .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-info .news-link{
    width: 100%;
    animation: show .4s;

}
.news-link .text{
    padding: 1.3vw 0 3.125vw 0;
}
.news-info .news-link img{
    width: 100%;
    height: auto;
}
.row .news-link {
    width: 100%;
    animation: show .4s;
}
.news-link .bold{
    font-family: 'Bai Jamjuree Black', sans-serif;
    margin-bottom: 0.9vw;
    font-style: oblique;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-link .time{
    font-family: 'Bai Jamjuree SemiBold', sans-serif;
    font-size: 0.8vw;
    margin-bottom: 0.52vw;
}
.news-link a{
    font-size: 0.8vw;
    margin-top: 0.52vw;
    font-style: italic;
}
.news-link a:hover{
    color: #FECE59;
}
.news-link p{
    margin-bottom: 0;
}

.done{
    background-color: #EFEFEF;
    padding-bottom: 3.125vw;
}
.page-number{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-number .num{
    margin: 0 0.6vw;
    cursor: pointer;
    font-size: 0.73vw;
    font-family: 'Bai Jamjuree Regular', sans-serif;
}

.container-fluid.active {
    display: block ;
}
.container-fluid.disable {
    display: none ;

}
.page-number .active{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    color: white !important;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
    .news-search input {
        width: 76.3125vw;
        height: 6.125vw;
        transform: translateX(2vw);
    }
    .news-search button img {
        width: 2.5vw;
        /* transform: translateX(-3vw); */
    }
    .news-info .news-link {
        width: 100%;
    }
    .news-search input::placeholder{
        font-size: 2vw;
        line-height: 1 !important;
    }
    .news-link .text{
        padding: 1.3vw 0 5.125vw 0;
    }
    .news-link .bold {
        font-size: 3.8vw !important;
    }
    .news-link .time {
        font-size: 2.5vw;
    }
    .news-link .time + p{
        margin-bottom: 2vw;
    }
    .news-info p{
        font-size: 2.8vw !important;
    }
    .page-number .active {
        width: 4vw;
        height: 4vw;
    }
    .page-number .num {
        font-size: 3vw;
        margin: 0 1.2vw;
    }
    .news-link a {
        font-size: 2.4vw;
        margin-top: 1vw !important;
    }
}

/* ===========================================440PX======================================================= */

@media (max-width: 440px) {


    .news-search input {
        width: 81.3125vw;
        height: 8.125vw;
        transform: translateX(4vw);
    }
    .news-search button img {
        width: 3.5vw;
        transform: translateX(-3.5vw);
    }
    .news-search input::placeholder{
        font-size: 14px;
        line-height: 8vw;
    }

}
