.rule-tittle{
    padding: 2.6vw 0 5vw 0 ;
}
.rule-tittle .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.rule-tittle .sticky{
    width: 9.065vw;
    height: 0.47vw;
}
.rule-tittle .tittle, .rule-tittle .image{
    width: 47%; 
}
.rule-tittle .image img{
    width: 100%;
    height: auto;
}
.rule-line h4{
    margin-top: 3vw;
}
.rule-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.3vw 0 4.9vw 0;
}
.rule-link a{
    font-size: 0.8vw;
}
.rule-link a:hover{
    color: #FECE59;
}
/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
    .rule-tittle{
        padding: 9.6vw 0 5vw 0 ;
    }

    .rule-tittle .container {
        flex-direction: column;
        align-items: center;
    }
    .rule-tittle .tittle, .rule-tittle .image{
        width: 100%; 
    }
    .rule-tittle .image img{
        margin: 1.3vw 0;
    }
    .rule-link h6{
        font-size: 2.5vw;
    }
    .rule-link a{
        font-size: 1.325vw;
        text-align: right;
    }

}

/* ===========================================440PX======================================================= */

@media (max-width: 440px) {

    .rule-link h6{
        font-size: 3.5vw;
    }
    .rule-link a{
        font-size: 3vw;
    }
    .rule-tittle .sticky {
        width: 25.065vw;
        height: 1.27vw;
    }

}