h6{
    font-size: 1.2vw;
    font-weight: bold;
}
.project-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.22vw 0 1.83vw;
}
.project-tittle p{
    width: 30vw;
    text-align: center;
}
                /* ============================================================== */
.project-1, .project-2{
    margin-bottom: 4.6vw;
}             
.project-1 .tittle{
    margin-bottom: 1.81vw;
}
.project-1 .tittle p{
    width: 30vw;
}
.project-1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project-1 .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-1 .line-1, .project-1 .line-2, .project-1 .line-3{
    display: flex;
    justify-content: space-between;
}
.project-1 .img .line-1 .project-hover{
    width: 32%;
}
.project-hover{
    position: relative;
    margin-bottom: 1.56vw;
}
.project-1 .line-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-hover{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: .2s;
}
.project-hover:hover .img-hover{
    opacity: 1;
}
.project-1 .img .line-2 .project-hover{
    width: 48%;
}
.project-1 .img .line-2 .project-hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-1 .line-3 .project-hover:nth-child(1){
    width: 32%;
}
.project-1 .line-3 .project-hover:nth-child(2){
    width: 66%;
}
.project-1 .line-3 .project-hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
    h6{
        font-size: 4.8vw;
    }
    .project-tittle p,.project-1 .tittle p{
        width: 80vw;
    }
    .project-1 .tittle {
        margin-bottom: 3.81vw;
    }
    .project-1 img{
        display: none;
        margin-bottom: 4vw;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/* ===========================================440PX======================================================= */

@media (max-width: 440px) {

    .project-tittle p,.project-1 .tittle p{
        width: 90vw;
    }

}