h4, p{
    color: white;
}
.recruitment-bg{
    background-color: #333333   ;
}
.recruitment-tittle{
    margin-left: 20.2vw;
    padding: 5.2vw 0 3.8vw 0;
}
.recruitment-tittle p{
    margin: 0;
}
.recruitment-info{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5.49vw;
}
.recruitment-info .left{
    width: 20.2vw;
    padding-left: 5.31vw;
}
.recruitment-info .left h4{
    margin-bottom: 0vw !important;
    color: #FECE59;
}
.recruitment-info .right{
    width: 35.625vw;
}
.dropinfo-tittle{
    padding-bottom: .78125vw;
    border-bottom: solid #646464 0.05vw;
    position: relative;


}
.recruitment-info .dropinfo-tittle img{
    width: 0.75vw;
    height: auto;
    position: absolute;
    top: 1.041vw;
    right: 0vw;
    cursor: pointer;
    transition: .2s;
}
.dropinfo-info{
   padding: 1.041vw 0;
   height: 0vw;
   opacity: 0;
   transition: .2s;
}
.show{
    height: auto;
    opacity: 1;
}
.dropinfo-info .bold{
    font-weight: bold;
}
.dropinfo{
    display: flex;
    flex-direction: column;
}
.dropinfo-send .dropinfo-tittle{
    border-bottom: none !important;
}
.dropinfo-send .dropinfo-info{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.dropinfo-send .dropinfo-info input{
    width: 100%;
    height: 2.864vw;
    margin-bottom: 1.3vw;
    padding-left: 1.041vw;
    border: none;
}
.dropinfo-send .dropinfo-info input::placeholder, .file span{
    font-size: 0.73vw;
}
.dropinfo-send .dropinfo-info input[type="submit"]{
    width: 3.75vw;
    height: 2.24vw;
    border: none;
    background-color: #FECE59;
    color: black;
    font-weight: bold;
    padding-left: 0vw;
}
.file{
    height: auto;
    position: relative;
    cursor: pointer;
}
.file input[type="file" i]{
    width: 0 !important;
    height: 0 !important;
    padding-left: 0vw !important;
    opacity: 0;
    margin-bottom: 0vw !important;
    position: absolute;
    /* z-index: -10; */
}
.file input[type="file" i]::-webkit-file-upload-button{
    background-image: url(../image/file.png);
    background-size: cover;
    width: 1.15vw;
    height: 1vw;
    border: none;
    /* position: absolute; */
    top: 2vw;
    right: 1.15vw;
    z-index: 2;
    outline: none;
    color: transparent;
    opacity: 0;
}
.file input[type="file" i]::before{
    content: '' !important;
    color: transparent;
}
.file-div{
    width: 100%;
    height: 2.864vw;
    margin-bottom: 1.3vw;
    padding-left: 1.041vw;
    background-color: white;
    position: relative;
}

.file-div span{
    position: absolute;
    top: 1vw;
    left: 1.041vw;
    color: #000000a1;
    /* opacity: 0; */
}
.file-div img{
    position: absolute;
    top: 1vw;
    right: 1.15vw;
    width: 1.15vw;
    height: auto;
    /* opacity: 0; */
}



                /* ============================================================== */



/* ===========================================770PX======================================================= */

@media (max-width: 770px) {
.dropinfo-tittle h4{
    font-size: 3.5vw;
}
.recruitment-tittle{
    margin: 0;
    text-align: left;
}
.recruitment-info .left{
    display: none;
}
.recruitment-info .right{
    width: 100%;
}
.recruitment-info .dropinfo-tittle img {
    width: 2.75vw;
    top: 2.41vw;
    cursor: pointer;
}
.dropinfo-send .dropinfo-info input {
    height: 5.864vw;
    margin-bottom: 3.3vw;
    padding-left: 3.041vw;
}
.file-div {
    height: 5.864vw;
    margin-bottom: 3.3vw;
    padding-left: 3.041vw;
}
.file-div span{
    left: 3.041vw;
}
.recruitment-info .dropinfo-info input::placeholder, .file-div span{
    font-size: 2.3vw;
}
.dropinfo-send .dropinfo-info input[type="submit"] {
    width: 7.75vw;
    height: 5.24vw;
}
.file-div img {
    top: 1.5vw;
    width: 3.15vw;
}

}

/* ===========================================440PX======================================================= */

@media (max-width: 440px) {

    .recruitment-tittle h4{
        margin-bottom: 1rem;
    }
    .recruitment-tittle{
        padding: 18.2vw 0 6.8vw 0;
    }
    .dropinfo-tittle{
        padding-right: 2vw;
    }
    .dropinfo-send .dropinfo-info input {
        height: 10.864vw;
        margin-bottom: 3.3vw;
        padding-left: 3.041vw;
    }
    .recruitment-info .dropinfo-info input::placeholder{
        font-size: 14px;
    }
    .dropinfo-send .dropinfo-info input[type="submit"] {
        width: 15.75vw;
        height: 10.24vw;
    }
    .file-div {
        height: 10.864vw;
        padding-left: 3.041vw;
    }
    .file-div span{
        font-size: 14px;
        top: 2.5vw;
    }
    .file-div img {
        top: 2.5vw;
        width: 6.15vw;
    }
    .recruitment-info {
        padding-bottom: 43.49vw;
    }

}
